@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 320px;
  }

  body {
    min-height: 100vh;
    margin: 0;
    background-color: #0b1020;
    font-family: Inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
